Repository redcar1995/shopify-grpc, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/core, lang/c++, area/infra

.github/labeler.yml:

lang/core:
- src/core/**
- include/core/**
- test/core/**
- tools/codegen/core/**

lang/c++:
- src/cpp/**
- include/grpc++/**
- include/grpcpp/**
- test/cpp/**

area/infra:
- .github/**

[Aio] Remove custom IO manager support (#27090)
  src/python/grpcio/grpc/_cython/_cygrpc/aio/completion_queue.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/completion_queue.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/grpc_aio.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/iomgr.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/resolver.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/resolver.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/socket.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/socket.pyx.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/timer.pxd.pxi
  src/python/grpcio/grpc/_cython/_cygrpc/aio/iomgr/timer.pyx.pxi
  src/python/grpcio/grpc/_cython/cygrpc.pxd
  src/python/grpcio/grpc/_cython/cygrpc.pyx
Labels: none

Publish status from happy pancakes stuff (#27012)
  .github/workflows/happy-pancakes.yml
Labels: area/infra

Revert "Publish status from happy pancakes stuff (#27012)" (#27108)
  .github/workflows/happy-pancakes.yml
Labels: area/infra

Backport v1.40.x: Extend url-map timeout to 120 minutes (#27104)
  tools/internal_ci/linux/grpc_xds_url_map.cfg
  tools/internal_ci/linux/grpc_xds_url_map_python.cfg
Labels: none

Fix buildUrl annotation in kokoro job (#27105)
  tools/internal_ci/linux/grpc_e2e_performance_v2.sh
Labels: none

[gRPC-ObjC] Fix potential over releasing crash for grp channel (#27061)
  src/objective-c/GRPCClient/private/GRPCCore/GRPCChannel.m
Labels: none

[3PI] Validate external account credentials token urls (#26966)
  src/core/lib/security/credentials/google_default/google_default_credentials.cc
  test/core/security/credentials_test.cc
Labels: lang/core
